{
    "branches": ["main"],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md"
            }
        ],
        "semantic-release-dart",
        [
            "@semantic-release/git",
            {
                "assets": ["CHANGELOG.md", "pubspec.yaml"]
            }
        ]
  ]
}
